* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #3c2a21;
}

.winner {
  width: 628px;
  height: 95px;
  background: #3c2a21;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.winner__text {
  color: rgb(211, 67, 216);
  font-size: 3rem;
  text-align: center;
  margin: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memory-game {
  width: 640px;
  height: 570px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  perspective: 1000px;
  margin-bottom: 25px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card:active {
  transform: scale(0.97);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #3c2a21;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

footer {
  margin: 50px 0;
}

.reset {
  padding: 10px;
  border-radius: 10px;
  color: rgb(211, 67, 216);
  font-size: 3rem;
  text-align: center;
  border: none;
  background-color: #3c2a21;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  width: 100%;
  max-width: 400px;
  min-height: 90px;
  max-height: 150px;
  cursor: pointer;
  word-wrap: break-word;
  padding: 10px;
  background: linear-gradient(0deg, #016665 -17.86%, #00d8d7 117.86%);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background 0.3s ease;
  will-change: background;
  display: block;
  margin: 0 auto;
  &:hover {
    background: linear-gradient(0deg, #04b6b4 -17.86%, #00eceb 117.86%);
  }
}

.hide {
  display: none;
}